html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    position: relative;
    background: #000 url('../img/bg.jpg') no-repeat center top;
    background-size: 100% 100%;
    text-align: center;

    -webkit-font-smoothing: antialiased;
}

.ycenter{
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.dreambox{
    width: 100%;
    height: 100%;
}

.container{
    width: 79.4%;
    height: 90%;
    position: relative;
    display: inline-block;
}

.logo{
    display: inline-block;
    margin: 9% 0 7% 0;
}

.telInput{
    width: 80%;
    position: relative;
    margin: 9% 0 15% 0;
    display: inline-block;
}

.telInput input{
    width: 78%;   /*57%*/
    border: 1px #999999 solid;
    border-radius: 2%;
    background: #fff;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 1.2rem; 
    text-align:center;
    text-indent: 1.2rem;
    color: #333;
}


/* error 提示 */
.modelcon{
    width: 100%;
    height: 66%;
    position: relative;
}
.modelcon.registerNumber{
    height: auto;
    margin: 16% 0 0 0;
}

#conscroll{
    overflow: auto;
}

.errorTips{
    width: 100%;
    height: 100%;
    background: #edeadb;
    text-align: center;
    position: absolute;
    left: 0;
    top: -20%;
    z-index: 2;
    visibility: hidden;
}

.etcon{
    display: inline-block;
    font-size: 1.4rem;
}

.etcon h2{
    font-size: 1.6rem;
    padding: 0 0 12% 0;
}


.btnArea{
    width: 100%;
}

.btnArea .ruleLink{
    width: 100%;
    padding: 3px 0;
    color: #000;
    position: absolute;
    left: 0;
    font-size: 1.2rem;
    bottom: 1.6em;
}

.btn{
    margin: 6% 0;
    position: relative;
    display: none;
}

.btn a{
    width: 42%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -21%;
    z-index: 2;
}

.btn.btnshow{
    display: inline-block;
}

.btn.disable{
    opacity: .5;
}

.btn.disable a{
    background: url('../img/loading.gif') no-repeat center;
}

/* 详细页面 */
.infoCon{
    width: 100%;
    margin: 6% 0;
    display: inline-block;
}

.infoText{
    position: relative;
} 

.infoText a{
    width: 40%;
    height: 20%;
    position: absolute;
    left: 40%;
    top: 40%;
    /*background: rgba(89, 90, 89, .6);*/
    z-index: 2;
}

.qr-ctn{
    display: inline-block;
    margin: 0 0 6% 0;
}

.ruleLink_inside{
    width: 100%;
    padding: 9px 0;
    color: #000;
    font-size: 1.2rem;
    display: inline-block;
}

.contactInfo{
    margin: 16px 0 0 0;
    position: relative;
    display: inline-block;
}

.contactInfo a{
    width: 60%;
    height: 27px;
    position: absolute;
    left: 50%;
    bottom: -12%;
    z-index: 2;
    margin: 0 0 0 -30%;
}


.opacity0{
    opacity: 0;
}


/* 6plus */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    .infoCon{
        margin: 8% 0;
    }
}

/* 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 410px) and (orientation: portrait) {
    .infoCon{
        margin: 8% 0;
    }
}

/* 5s */
@media handheld and (min-height:490px),screen and (max-height:510px) {
    .infoCon{
        margin: 8% 0;
    }
}

/* 4s */

@media handheld and (min-height:400px),screen and (max-height:420px) {
    .logo{
        display: inline-block;
        margin: 8% 0 6% 0;
    }

    .btn{
        margin: 12% 0 15% 0;
    }

    .btnArea{
        bottom: 15em;
    }

    .errorTips{
        top: -22%;
    }

    .btnArea .ruleLink{
        bottom: .7em;
    }
}


