
body{
    background: #000 url('../img/bg.jpg') no-repeat center;
    background-size: 100% auto;
    text-align: center;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
}

body.heightbg100{
    background: #000 url('../img/bg.jpg') no-repeat center;
    background-size: auto 100%;
}



.loading_con{
    margin-top: -9%; 
}

.ycenter{
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.dreambox{
    width: 100%;
    height: 100%;
}

.container{
    width: 80%;
    height: 76%;
    background: #edeadb;
    position: relative;
    overflow: hidden;
}

.pagecon{
    width: 100%;
    text-align: center;
    margin: -2% 0 0 0;
}

.logo{
    display: inline-block;
    margin: 0 0 2% 0;
    width: 100%;
}

.logo img{
    width: 100%;
}

.slogan{
    display: inline-block;
    margin: 3% 0 8% 0;
    width: 100%;
}

.slogan img{
    width: 40%;
}

.slidecon{
    width: 85%;
    display: inline-block;
    position: relative;
}

.errorTips{
    width: 100%;
    height: 100%;
    background: #edeadb;
    font-size: 2.0rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    visibility: hidden;
}

.inputArea{
    width: 100%;
    background: #fafafa;
    border: 1px #e2e2e2 solid;
    border-radius: 2%;
    background: #fafafa;
    display: inline-block;
}

.inputArea input{
    width: 96%;
    height: 36px;
    line-height: 36px;
    font-size: 1.6rem;
    background: none;
    color: #666;
    letter-spacing: 0.2rem;
    display: inline-block;
}

.inputTips{
    margin: 10% 0 0 0;
    font-size: 2.0rem;
}


/* 签到 */

.checkin{
    width: 100%;
    height: 100%;
    background: #edeadb;
    font-size: 2.0rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    visibility: hidden;
}

.checkin p{
    padding: 5px 0;
    width: 100%;
    display: inline-block;
}

.checkin p span{
    padding: 0 2px;
    font-weight: bold;
}

.checklist{
    width: 100%;
    margin: 7.4% 0 0 0;
    display: inline-block;
}

.checklist li{
    width: 27%;
    margin: 0 1.5%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.checklist li:before{
    width: 14px;
    height: 14px;
    line-height: 14px;
    content: "";
    border: 1px #1e1e1e solid;
    display: inline-block;
    margin: -1% 4% 0 0;
    vertical-align: middle;
}

.checklist li.active:before{
    background: #1e1e1e;
}


.checklist li.disable{
    opacity: .5;
}

.checklist li.disable:after{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: url('../../img/loading.gif') no-repeat center;
    z-index: 2;
}



@media (max-width: 700px){
    
    .checklist{
        margin: 7.4% 0 0 0;
        display: inline-block;
    }

    .checklist li{
        width: 100%;
        margin: 2% 0;
    }
    

    .logo img{
        width: 39%;
    }

    .slogan img{
        width: 70%;
    }

    .checkin{
        font-size: 1.0rem;
    }


}






